<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCMZnXxCVBPBJ-8bbw1qMkzCnLwKBnzta8</string>
	<key>GCM_SENDER_ID</key>
	<string>857412064219</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.meuFlash.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>meuflash-90e88</string>
	<key>STORAGE_BUCKET</key>
	<string>meuflash-90e88.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:857412064219:ios:2d965bb06c54230d108dfe</string>
</dict>
</plist>